@font-face {
  font-family: "Droid Sans";
  src: url(DroidSans/DroidSans.ttf);
}
/*
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
*/
.text_data {
  font-family: "Droid Sans", "Arial", "Trebuchet MS";
}

.temperature {
  font-size: 120px;
  text-align: right;
  vertical-align: top;
}

.pressure {
  font-size: 60px;
  text-align: right;
  vertical-align: top;
}

.degree_c {
  font-size: 30px;
  vertical-align: top;
  padding-top: 20px;
}

.kpa {
  font-size: 20px;
  vertical-align: top;
  padding-top: 15px;
}

.parent {
  position: relative;
}

.keg_left {
  padding-left: 10px;
}

.keg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#co2_level {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.beer_level {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.clock
{
  text-align: center;
  font-size: 40px;
}