.text_data {
  font-family: "Arial", "Trebuchet MS";
}

.temperature {
  font-size: 120px;
  text-align: right;
  vertical-align: top;
}

.pressure {
  font-size: 60px;
  text-align: right;
  vertical-align: top;
}

.degree_c {
  font-size: 30px;
  vertical-align: top;
  padding-top: 30px;
}

.kpa {
  font-size: 20px;
  vertical-align: top;
  padding-top: 15px;
}

.parent {
  position: relative;
}

.keg_left {
  padding: 0 0 0 0;
}

.keg_right {
  padding: 0 0 0 0;
}

.keg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#co2_level {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.beer_level {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
